__pycache__/
*.py[cod]
.pylint.d/
*$py.class
*.eps
*.pdf
*.png
*.json
*.h5
*.o
*.log
*.exe
*.lp
*.pkl
*.mps
*gexf
*.stackdump
.idea/
.spyproject/
.~lock*
*.sol
~$*
Thumbs.db*
*-checkpoint.ipynb
~$*
storage/
testtemp/
test.db
.coverage
coverage.xml
build
.hypothesis
venv

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

docs/build/
docs/source/
!docs/source/index.rst
!docs/source/conf.py
!docs/source/make.bat
!docs/source/Makefile

experiments/**/results*
*.pnml
log.txt
log1.txt
log2.txt
*.html
*.cpp
!graph.cpp
catboost_info